@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(107.73deg, #3CCBFF 6.05%, #2F80FF 90.28%);
}
.bloco{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    
}
.card{
    position: relative;
    padding: 0 20px;
    background: rgba(161, 161, 161, 0.19);
    border-width: 1px 0px 0px 1px;
    border-style: solid; 
    border-color: #8ED2FB;
    box-shadow: 6px 10px 60px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px); 
    border-radius: 30px;
}
.logecad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 320px;
    margin-top: 70px;
}
.logecad a{
    color: white;
    text-decoration: none;
    font: 500 normal 20px/24px Inter;
}

.barra{
    position: relative;
    width: 320px;
    margin-top: 5px;
    height: 1px;
    background-color: #cccccc;
    margin-bottom: 20px;
}
.barra::after{
    transition:0.4s ease;
    display: block;
    content: "";
    width: 50%;
    background-color: white;
    height: 2px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
input{
    font: 500 normal 1em/20px Inter;
    color: white;
    padding-left: 10px;
    outline: none;
    width: 320px;
    height: 40px;
    background: rgba(255, 255, 255, 0.19);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 15px;
}
label{
    font: 400 normal 12px/14px Inter;
    margin-left: 10px;
    margin-bottom: 3px;
}
#senha{
    margin-bottom: 24px;
}
button{
    font: 500 normal 20px/24px Inter;
    width: 150px;
    height: 40px;
    background: #206EC1;
    border-radius: 40px;
    border: none;
    align-self: center;
    margin-bottom: 10px;
    color: white;
}
h2{
    font: 300 normal 10px/12px Inter;
    margin-bottom: 20px;
    align-self: center;
}
h2::after{
    content: "";
    width: 122px;
    height: 1px;
    display: flex;
    align-self: center;
    position: relative;
    left: -2px;
    background-color: white;
}
svg{
    position: absolute;
    fill: rgba(255, 255, 255, 0.4);
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(3);
}
.eclipse1{
    position: absolute;
    width: 255px;
    height: 256px;
    border-radius: 50%;
    top: 7%;
    left: 27%;
    background: linear-gradient(138.69deg, #318AFF 14.19%, #3AC1FF 86.48%);
}
.eclipse2{
    top: 64%;
    left: 56%;
    border-radius: 50%;
    position: absolute;
    width: 150px;

    height: 150px;
    background: linear-gradient(138.69deg, #318AFF 42.17%, #3AC1FF 86.48%);
    transform: rotate(-32.84deg);
}
 .body .cadastro{
    color: #cccccc;
}
#usuario, .usuario, .comsenha, #comsenha{
    display: none;
}
.active .barra::after{
    transform: translateX(160px);
}
.active #usuario, .active .usuario, .active .comsenha, .active #comsenha{
    display: block;
}

.active #senha{
    margin-bottom: 15px;
}
.active #comsenha{
    margin-bottom: 24px;
}
.active .login{
    color: #cccccc;
}
.active .cadastro{
    color: white;
}
.desative #usuario, .desative .usuario, .desative .comsenha, .desative #comsenha{
    display: none;
}
.desative .barra::after{
    transform: translateX(0px);
}
.desative .login{
    color: #cccccc;
}